{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>{% block title %}{% endblock %}</title>

    </head>
    <body>
        <div class="row">
            <div class="col-sm-1" style="background-color: #fafff7;">
                <div style="text-align: right; padding: 5px"><img src="{% static 'logo.png' %}" width="100" height="75" /></div>
            </div>
            <div class="col-sm-11" style="background-color: #fafff7;">
                <div style="text-align: left;">
                    <h1 style="font-weight: 900; color: #157b62">MONEY MATCH</h1>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-light" style="background-color: #157b62;">
            <div class="container-fluid">
              <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'home' %}" style="color: #fbfbf3">Home</a></li>
                <li class="active"><a href="{% url 'find_matches' %}" style="color: #fbfbf3">Find Matches</a></li>
                <li class="active"><a href="{% url 'all_resources' %}" style="color: #fbfbf3">All Resources</a></li>
                <li class="active"><a href="{% url 'discussion_forum' %}" style="color: #fbfbf3">Discussion Forum</a></li>
              </ul>
            </div>
          </nav>
          {% block content %}{% endblock %}
    </body>
</html>