{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>{% block title %}{% endblock %}</title>

    </head>
    <body>
        <div class="row">
            <div class="col-sm-4" style="background-color: #99cb41;">
                <div style="text-align: right;"><img src="{% static 'logo.png' %}" width="150" height="69" /></div>
            </div>
            <div class="col-sm-4" style="background-color: #99cb41;">
                <div style="text-align: center;">
                    <h1>MONEY MATCH</h1>
                </div>
            </div>
            <div class="col-sm-4" style="background-color: #99cb41;">
                <div style="text-align: left;"><img src="{% static 'logo.png' %}" width="150" height="69" /></div>
            </div>
        </div>
        <nav class="navbar navbar-light" style="background-color: #157b62;">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand">Money Match</a>
              </div>
              <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'home' %}">Home</a></li>
                <li class="active"><a href="{% url 'find_matches' %}">Find Matches</a></li>
                <li class="active"><a href="{% url 'all_resources' %}">All Resources</a></li>
                <li class="active"><a href="{% url 'discussion_forum' %}">Discussion Forum</a></li>
              </ul>
            </div>
          </nav>
          {% block content %}{% endblock %}
    </body>
</html>