{% extends 'finance_resources/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <h1 style="text-align: center; color: #157b62"><b>MONEY MATCH</b></h1>
        <h3 style="text-align: center; color: #84b4a4">Financial Access Made Easy.</h3>
        <br>
        <div class="row">
            <div class="col-sm-5">
                <div style="text-align: right"><img src="{% static 'de_map.png' %}" width="150" height="250" /></div>
            </div>
            <div class="col-sm-7">
                <div style="text-align: left"><img src="{% static 'de_flag.png' %}" width="400" height="250" /></div>
            </div>
        </div>
        <br>
        <h4>Money Match hopes to help the underserved in our DE community gain access to financial aid and bridge the gap to make it easier for those in need to take advantage of these resources.</h4>
        <br>
        <h4>Visit the Find Matches page to fill out a short form assessing your eligibilities for different types of financial assistance.</h4>
        <button style="color: #fbfbf3; background-color: #157b62" class="btn btn-primary" type="button" onclick="window.location.href = 'find_matches';">Find Matches</button>
        <br><br>
        <h4>The All Resources page contains all the available financial resources in Delaware that are listed on this site.</h4>
        <button style="color: #fbfbf3; background-color: #157b62" class="btn btn-primary" type="button" onclick="window.location.href = 'all_resources';">All Resources</button>
        <br><br>
        <h4>Discuss resources and alternatives to payday loans. Post questions and share experiences with different financial resources in Delaware.</h4>
        <button style="color: #fbfbf3; background-color: #157b62" class="btn btn-primary" type="button" onclick="window.location.href = 'discussion_forum';">Discussion Forum</button>
        <br><br>
    </div>
{% endblock %}